@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* variables */
:root {
	--bcg-grey: #f1f5f8;
	--bcg-white: #fff;
	--color-text: #1da1f2;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body Styles */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background-color: var(--bcg-grey);
}

/* Header Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	line-height: 1.2;
}

p,
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* navbar */
.menu {
	position: fixed;
	background-color: var(--bcg-white);
	height: 100vh;
	transform: translateX(-100%);
	transition: var(--transition);
}

.menu__wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	gap: 20px;
	height: 100%;
	padding: 20px;
}

.menu__logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu__item {
	cursor: pointer;
}

.menu__link {
	text-decoration: none;
	transition: var(--transition);
	display: block;
	padding: 10px;
	color: #000;
}

.menu__link:hover {
	color: var(--color-text);
	padding-left: 20px;
}

.menu__social {
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 40px;
}

.social__link {
	color: #000;
	list-style: none;
	padding: 0 10px;
	transition: var(--transition);
}

.social__link:hover {
	color: var(--color-text);
}

.menu__hamburger {
	position: fixed;
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 26px;
	outline: 0;
	transition: var(--transition);
}

.menu__hamburger:hover {
	transform: rotate(180deg);
}

.menu__hamburger--open {
	font-size: 36px;
	top: 50px;
	right: 50px;
	animation: animate 1s infinite;
}

.menu__hamburger--close {
	position: relative;
}

@keyframes animate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.8);
	}
	50.01% {
		transform: scale(1.8);
	}
	100% {
		transform: scale(1);
	}
}

/* media queries */

@media only screen and (min-width: 640px) {
	.menu {
		width: 50%;
	}
}

@media only screen and (min-width: 1024px) {
	.menu {
		width: 30%;
	}
}
