@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import "mixins";

// variables
$bcg-grey: #f1f5f8;
$bcg-white: #fff;
$color-text: #1da1f2;
$color-hoverText: #6b5d00;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body Styles */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	background-color: $bcg-grey;
}

.main {
	@include size(100%);

	&__wrapper {
		@include size(100%);
		max-width: 1170px;
		margin: 0 auto;
	}

	&__title {
		@include size(100%, 25vh);
		@include flex_center();
		@include position($position: fixed, $display: flex, $top: 0, $left: 0);
		z-index: 2;
		background-color: $bcg-white;
		box-shadow: $dark-shadow;

		& h1 {
			text-transform: uppercase;
			color: $color-text;
			width: 90%;
			text-align: center;
		}
	}

	&__projects {
		@include size(90%, 100%);
		@include grid_center();
		margin: 30vh auto 5vh auto;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}
}

.project {
	&__box {
		@include size(100%, 200px);
		position: relative;
		border-radius: $radius;
		cursor: pointer;
		overflow: hidden;
	}

	&__link {
		@include flex_center();
		@include size(100%);
		border: 2px solid $color-text;
		border-radius: $radius;
		text-decoration: none;
		text-transform: uppercase;
		color: #000000;
		letter-spacing: $spacing;

		&::after {
			@include position($top: 50%, $left: 50%);
			z-index: -1;
			transform: translate(-50%, -50%);
			border-radius: 50%;
			opacity: 0;
			transition: $transition;
			background-color: $color-text;
		}

		&:hover::after {
			opacity: 1;
			animation: colorAnimation 0.7s ease-in forwards;
		}

		&:hover + .project__title {
			transform: translate(-50%, 0%);
			background-color: black;
			opacity: 1;
		}
	}

	&__title {
		@include position($bottom: 0%, $left: 50%);
		@include size(100%, 30%);
		@include flex_center();
		text-align: center;
		color: $bcg-white;
		text-transform: uppercase;
		opacity: 0;
		z-index: -1;
		transition: $transition;
		transform: translate(-50%, 100%);
	}
}

@keyframes colorAnimation {
	from {
		@include size(10%);
	}
	to {
		@include size(150%);
	}
}
